@import url(http://fonts.googleapis.com/css?family=Fira+Mono:400,700);

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  background: white;
  font-size: 80%;
  font-family: 'fira mono', 'droid sans mono', monaco, menlo, consolas, inconsolata, monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 170%;
}

a:link, a:visited {
  color: blue;
}

a:hover {
  text-decoration: none;
}

.main {
  width: 1000px;
  margin: 30px auto 0 auto;
}

.logo a {
  color: black;
  text-decoration: none;
}

.group-info {
  float: left;
  width: 270px;
  text-align: right;
  border-right: solid 1px;
  padding: 0 20px 5px 5px;
}

.group-info p {
  color: #999;
  font-size: 85%;
  margin-bottom: 0;
}

.description {
  float: right;
  width: 730px;
  padding: 0 0 0 20px;
}

.logo, .description h1 {
  font-size: 200%;
}

.description p {
  font-size: 85%;
}

.footer {
  margin: 60px 0 30px 0;
  border-top: solid #d0d0d0 1px;
  clear: both;
}

.footer ul {
  display: inline-block;
  list-style: none outside;
  margin: 0;
  padding: 10px 0 0 5px;
}

.footer li {
  display: inline-block;
  margin: 0 0 3px 0;
}

.footer li:before {
  content: '· ';
  color: #999;
}

.footer li:first-child:before {
  content: '';
}

.clear-fix:after {
  content: '';
  display: table;
  clear: both;
}

/* LIST */

.archive {
  float: right;
  width: 730px;
  padding: 0 0 0 20px;
}

.archive h2 {
  font-size: 200%;
}

.archive ol {
  list-style: none outside;
  margin: 10px 0 0 0;
  padding: 0;
}

.archive li {
  margin: 0 0 10px 0;
  padding: 0;
}

.archive li span {
  color: #999;
}

/* POST */

.presentation h1 {
  font-size: 220%;
  background: #e0e0e0;
  margin: 40px 0 13px 0;
  padding: 2px 6px 0 6px;
  border-radius: 2px;
}

.presentation h2 {
  font-size: 190%;
  margin: 0 0 10px 0;
}

.details {
  overflow: hidden;
}

.details .left {
  float: left;
  width: 400px;
}

.details .right {
  float: right;
  width: 590px;
}

.left h3 {
  background: #333;
  color: white;
  padding: 2px 4px 0 4px;
  border-radius: 2px;
}

.biography p, .abstract p {
  font-size: 90%;
  /*text-align: justify;*/
}

.recording {
  margin: 15px 0 0 0;
}
