---
layout: default
title: "SYMNET — A Tool for Static Network Verification"
date: "2014-09-24 19:00:00"
past: true
edition: "#004"
---

<div class="description">
  <h1><span class="edition-number">#004</span>: SYMNET — Static Network Verification</h1>
  <p>This meetup took place at the <strong>Eloquentix</strong> office,
    <strong>Wednesday, 24 September 2014</strong> at <strong>19:00</strong>.
    Find out when is our <a href="/next.html">next meetup</a>.</p>
</div>

<div class="clear-fix"></div>

<div class="presentation">
  <h1>SYMNET — A Tool for Static Network Verification</h1>
  <div class="details">
    <div class="left">
      <div class="biography">
        <h2 class="speaker">Matei Popovici</h2>
        <h3>Biography</h3>
        <p>Matei Popovici is currently a Lecturer within the Computer Science
        Department of POLITEHNICA University of Bucharest, where he teaches the
        Algorithms and Complexity Theory, and Programming Paradigms courses.</p>
        <p>He received his PhD in 2012 with a thesis on Temporal Knowledge Representation
        and Reasoning, supervised by prof. Cristian Giumale. He also worked on developing
        verification techniques for network topologies, as a research fellow in the EU
        FP7 project CHANGE.</p>
        <p>Subsequently, he pursued a postdoc research position at Clausthal Technical
        University from Clausthal-Zellerfeld, Germany, where he worked on logics for
        the verification of Multiagent Systems.</p>
        <p>He is particularly interested in logics, verification, game theory, and their
        deployment for solving real-life challenging problems.</p>
      </div>
      <div class="abstract">
        <h3>Abstract</h3>
        <p>Network function virtualization is a new trend which advertises the replacement
        of traditional, custom-designed, hardware network appliances, with software
        running on virtual infrastructures (e.g. the cloud). In doing so, the newly-gained
        flexibility of specifying network operations must be tamed with appropriate
        verification tools.</p>
        <p>SYMNET, the focus of this talk, is such a tool. We shall discuss the overall
        context as well as some key design features of SYMNET (e.g. its development in
        Haskell).</p>
        <p>Finally, we shall comment on the exploration problem of graph-like
        structures, how it can be solved in imperative- and functional-style, and why
        we chose the latter, for SYMNET.</p>
      </div>
    </div>
    <div class="right">
      <div class="slides">
        <script async class="speakerdeck-embed" data-id="34a0665026ec0132f6ff42a09a3cc4e8" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>
      </div>
      <div class="recording">
        <iframe width="590" height="442" src="//www.youtube.com/embed/_ZmjuM_2s6g" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
